@tailwind base;

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
}

@tailwind components;
@tailwind utilities;

@layer components {
    .purple-theme {
        @apply filter hue-rotate-180
    }

    .green-theme {
        @apply filter
    }

    .blue-theme {
        @apply filter hue-rotate-90
    }
}
