@tailwind base;

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
}

@tailwind components;
@tailwind utilities;